<a href="https://colab.research.google.com/github/melisyamillati/KKASmt1/blob/main/1_Fungsi_Print_Melisya_Millati_Azka_XI_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
harga_telur = 26000


print ("Harga telur per 1 kg adalah", harga_telur)

Harga telur per 1 kg adalah 26000

In [ ]:
harga_telur = 26000

print ("harga telur per 1 kg adalah " + str(harga_telur))

harga telur per 1 kg adalah 26000

In [ ]:
nama_pembeli = "Melisya"

print("Nama pembeli telur adalah " + nama_pembeli)

Nama pembeli telur adalah Melisya

Latihan soal

1. Tampilkan teks bebas: Hari ini saya bahagia belajar bahasa python
2. Tampilkan nilai variabel: mata_pelajaran_favorit = Kode dan Kecerdasan Buatan
3. Tampilkan nilai variabel nilai_kka = 100
4. Tampilkan teks bebas dan nilai variabel dengan tiga metode (f string,"+",","): "nilai KKA saya adalah {nilai_kka}loh!

In [ ]:
print("Hari ini saya bahagia belajar bahasa python")

Hari ini saya bahagia belajar bahasa python

In [ ]:
mata_pelajaran_favorit ="Kode dan Kecerdasan Buatan"

print(mata_pelajaran_favorit)

Kode dan Kecerdasan Buatan

In [ ]:
nilai_kka = 100

print(nilai_kka)

100

In [ ]:
nilai_kka = 100

print(f"Nilai KKA saya adalah {nilai_kka} loh!")

Nilai KKA saya adalah 100 loh!

In [ ]:
nilai_kka = 100

print(" Nilai KKA saya adalah " + str (nilai_kka) + " loh! ")

 Nilai KKA saya adalah 100 loh!

In [ ]:
nilai_kka = 100

print(" Nilai KKA saya adalah",nilai_kka, "loh!")

 Nilai KKA saya adalah 100 loh!

#Escape Character

In [ ]:
print("Nama: Melisya Millati Azka")
print("Kelas: XI.1")
print("Nomor absen: 25")

Nama: Melisya Millati Azka
Kelas: XI.1
Nomor absen: 25

In [ ]:
print("Nama\t\t: Melisya Millati Azka\nKelas\t\t: XI.1\nNomor absen\t: 25")

Nama		: Melisya Millati Azka
Kelas		: XI.1
Nomor absen	: 25

In [ ]:
print("""Nama: Melisya Millati Azka
Kelas:XI.1
Nomor absen: 25""")

Nama: Melisya Millati Azka
Kelas:XI.1
Nomor absen: 25

In [ ]:
print("Ja'far Shodiq")

Ja'far Shodiq

In [ ]:
print('Ja\'far Shodiq')

Ja'far Shodiq

In [ ]:
print("Bu Shinta berkata, \"Semua harus menyimak pelajaran, \"")

Bu Shinta berkata, "Semua harus menyimak pelajaran, "

In [ ]:
print('Bu Shinta berkata, "Semua harus menyimak pelajaran,"')

Bu Shinta berkata, "Semua harus menyimak pelajaran,"

In [ ]:
print ("Lokasi file video karnaval ada di D:\\Karnaval 2025\\mp4")

Lokasi file video karnaval ada di D:\Karnaval 2025\mp4

#Rabu, 13 Agustus 2025

In [ ]:
print("Halo dunia!")
print('Selamat datang di Python')

Halo dunia!
Selamat datang di Python

#Menampilkan Teks Bebas

In [ ]:
print("Belajar python itu menyenangkan!")

Belajar python itu menyenangkan!

In [ ]:
nama = "Melisya"
print(nama)

Melisya

#Menampilkan Teks Bebas dan Nilai Variabel

In [ ]:
umur = 16
print(f"umur saya {umur} tahun")

umur saya 16 tahun

In [ ]:
nama = "Melisya"
print("halo " +nama)

halo Melisya

In [ ]:
umur = 16
print ("umur saya",umur, "tahun")

umur saya 16 tahun

In [ ]:
umur = 16
print("umur saya " + str(umur) + " tahun")

umur saya 16 tahun

#Menampilkan Nilai Variabel

In [ ]:
BB = 55
print(BB)

55

In [ ]:
TB = 158
print(TB)

158

#Menampilkan Teks Sederhana

In [ ]:
print("Saya sedang belajar Python")

Saya sedang belajar Python

#Parameter Fungsi Print

In [ ]:
Tahun = 2009
Bulan = "Juli"
Tanggal =6

print(Tanggal, end=" ")
print(Bulan, end=" ")
print(Tahun)

6 Juli 2009

In [ ]:
Tahun = 2009
Bulan = "Juli"
Tanggal =6

print(Tanggal, Bulan, Tahun, sep="/")

6/Juli/2009

Latihan:

Tanggal-Bulan-Tahun

In [ ]:
Tanggal: 6
Bulan: "Juli"
Tahun: 2009

print(Tanggal, Bulan, Tahun, sep="-" )

6-Juli-2009

In [ ]:
Nama_depan = "Melisya"
Nama_belakang = "Azka"

print(Nama_depan, Nama_belakang)

Melisya Azka

In [ ]:
Nama_depan = "Melisya"
Nama_belakang = "Azka"

print(Nama_depan, end=" ")
print(Nama_belakang)

Melisya Azka

Latihan:

In [ ]:
print ('Bu Shinta berkata, "berikut adalah judul pelajaran hari senin selasa rabu silakan disimpan di laptop masing-masing di folder local disk D:\\Jadwal Pelajaran\\Kelas XI Semester 1')
print ("\njadwal pelajaran mingguan")
print ("=============================")
print ("jam\tsenin\t\tselasa\t\trabu")
print ("jam 1\tmatematika\tbahasa\t\tinformatika")
print ("jam 2\tbahasa ingr.\tsejarah\t\tma'rifatullah")
print ("jam 3\tinformatika\tolahraga\tbiologi")

Bu Shinta berkata, "berikut adalah judul pelajaran hari senin selasa rabu silakan disimpan di laptop masing-masing di folder local disk D:\Jadwal Pelajaran\Kelas XI Semester 1

jadwal pelajaran mingguan
=============================
jam	senin		selasa		rabu
jam 1	matematika	bahasa		informatika
jam 2	bahasa ingr.	sejarah		ma'rifatullah
jam 3	informatika	olahraga	biologi

In [ ]:
nama_siswa_1 = "Naufal"
nama_siswa_2 = "Favian"
nama_siswa_3 = "Humaira"
nama_siswa_4 = "Favian"

print(nama_siswa_1, nama_siswa_2, nama_siswa_3, nama_siswa_4, sep="~")

Naufal~Favian~Humaira~Favian

In [ ]:
print(nama_siswa_2, end="~")
print(nama_siswa_1)
print(nama_siswa_3, end="~")
print(nama_siswa_1)

Favian~Naufal
Humaira~Naufal