<a href="https://colab.research.google.com/github/melisyamillati/KKASmt1/blob/main/2_Tipe_Variabel_Melisya_MA_XI_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama: Melisya Millati Azka

Kelas: XI.1

No. absen: 25

#Konsep Dasar

In [ ]:
email_user_1 = "melisyaazka.2025@gmail.com"

print(email_user_1)

melisyaazka.2025@gmail.com

In [ ]:
sabun_lifebuoy = 15000

print(sabun_lifebuoy)

15000

In [ ]:
print(sabun_lifebuoy*5)

75000

#Peraturan Penulisan Variabel

In [ ]:
#Penulisan variabel hanya boleh menggunakan huruf, angka, dan underscore
#Tidak boleh menggunakan spasi
nama siswa = "Afa"


print(nama siswa)

SyntaxError: invalid syntax (ipython-input-3878009423.py, line 3)

In [ ]:
#Tidak boleh diawali dengan angka

1_nama_siswa = "Afa"
print(1_nama_siswa)

SyntaxError: invalid decimal literal (ipython-input-1201669175.py, line 3)

In [ ]:
#Penulisan variabel itu case sensitive/sensitif capslock
nama_siswa_1 = "Afa"

print(Nama_siswa_1)

NameError: name 'Nama_siswa_1' is not defined

In [ ]:
#Dilarang menggunakan kata kunci di Bahasa Python
prin = "Afa"

print(prin)

Afa

In [ ]:
end = "Naufal"
print(end)

Naufal

In [ ]:
#Deskriptif
_ = "Favian"

print(_)

Favian

In [ ]:
#Tidak boleh pakai kata kunci phyton
#Kalau error, harus diconnect dulu
#print = "Devin"

#print(print)

#Assignment

##Single Assignment

In [ ]:
nama_siswa_2 = "Dhapne"
nama_siswa_3 = "Farel"
print(nama_siswa_2)
print(nama_siswa_3)

Dhapne
Farel

##Multiple Assignment

In [ ]:
nama_siswa_4, nama_siswa_5 = "Sada", "Selo"

print(nama_siswa_4)
print(nama_siswa_5)

Sada
Selo

##Assign ke Banyak Variabel Sekaligus

In [ ]:
nilai_afa = nilai_favian = 100

print(nilai_afa)
print(nilai_favian)

100
100

##Perubahan Nilai Variabel

In [ ]:
nilai_afa = 95
print(nilai_afa)

95

#Aritmatika

In [ ]:
print(5000*3)

15000

In [ ]:
#Operand tanpa disimpan dalam variabel
print(5000*3)

15000

In [ ]:
#Simpan operand ke dalam variabel
harga_kojek = 6000
banyak_porsi = 3

print(harga_kojek*banyak_porsi)

18000

In [ ]:
#Simpan hasil operand ke dalam variabel
harga_total_kojek = 3000*3

print(harga_total_kojek)

9000

In [ ]:
#Simpan nilai operand dan hasil operasi ke dalam variabel
harga_cilok = 10000
jumlah_porsi_cilok = 5
harga_total_cilok = harga_cilok*jumlah_porsi_cilok

print(harga_total_cilok)

50000

In [ ]:
uang_yang_diterima = 100000
uang_kembalian = uang_yang_diterima - harga_total_cilok

print(uang_kembalian)

50000

In [ ]:
print(24*3)

72

In [ ]:
total_jumlah_botol = 24*3
print(total_jumlah_botol)

72

In [ ]:
banyak_botol_per_kardus = 24
jumlah_kardus = 3
print(banyak_botol_per_kardus * jumlah_kardus)

72

In [ ]:
banyak_botol_per_kardus = 24
jumlah_kardus = 3
total_jumlah_botol = banyak_botol_per_kardus * jumlah_kardus
print(total_jumlah_botol)

72

#Tipe Variabel

In [ ]:
usia = 65

type(usia)

int

In [ ]:
berat_telur = 2.5

type(berat_telur)

float

In [ ]:
nama = "Icha"

type(nama)

str

In [ ]:
remidi = False

type(remidi)

bool

In [ ]:
remidi = True

type(remidi)

bool

In [ ]:
koordinat_bintang =-1.5

type(koordinat_bintang)

float

In [ ]:
koordinat_titik = -8

type(koordinat_titik)

int

#Input

In [ ]:
panjang = 10
lebar = 5
luas = panjang*lebar

print(luas)

50

In [ ]:
input()

10

'10 '

In [ ]:
panjang = input()

10

In [ ]:
lebar = input()

5

In [ ]:
print(lebar)

5

In [ ]:
##Tipe data masih string dan harus diconvert ke integer/float
luas = panjang*lebar

print(luas)

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
type(panjang)

str

In [ ]:
type(lebar)

str

In [ ]:
panjang = int(panjang)

In [ ]:
lebar = int(lebar)

In [ ]:
type(panjang)

int

In [ ]:
panjang_1 = int(input("Masukkan panjang persegi: "))

Masukkan panjang persegi: 10

In [ ]:
panjang_2 = int(input("Masukkan panjang persegi: "))
lebar_2 = int(input("Masukkan lebar persegi: "))

luas_2 = panjang_2*lebar_2

print(f"Luas oersegi panjang adalah 40 cm^2")

Masukkan panjang persegi: 4
Masukkan lebar persegi: 10
Luas oersegi panjang adalah 40 cm^2

In [ ]:
jari_jari_tabung = float(input("silahkan masukkan jari jari tabung: "))
tinggi_tabung = float(input("silahkan masukkan tinggi tabung: "))
phi = 3.14

volume_tabung = phi * jari_jari_tabung**2 * tinggi_tabung

print(f"volume tabung adalah {volume_tabung} cm^3")

silahkan masukkan jari jari tabung: 3
silahkan masukkan tinggi tabung: 13
volume tabung adalah 367.38 cm^3

#Operator Perbanding

In [ ]:
print(8<5)

False

In [ ]:
print(8>5)

True

In [ ]:
print(9>=9)

True

In [ ]:
print(8 == 8)

True

In [ ]:
print(8 == 5)

False

In [ ]:
print(1 !=1)

False

In [ ]:
a = 10
b = 20
c = 30

print(a>c)

False

In [ ]:
print(a>30)

False

In [ ]:
nilai_kka = 75
kkm_kka = 80

print(nilai_kka > kkm_kka)

False

In [ ]:
print(8>7 and 5>6)

False

In [ ]:
print(8>7 and 5<6)

True

In [ ]:
print(8>7 or 5>6)

True

In [ ]:
print(not(8>7 or 5>6))

False

In [ ]:
print(not(8>7 or 5>6))

False

In [ ]:
print(not(8>=9 or 9!=8))

False

In [ ]:
iq_min = 125
tinggi_min = 165

print (125 >=iq_min and 170 >= tinggi_min)

True

In [ ]:
iq_afa = 125
tinggi_afa = 170

print(iq_afa >= iq_min and tinggi_afa >= tinggi_min)

True

In [ ]:
tinggi_min = 165
bb_min = 55
umur_max = 25
tinggi_farel = 170
bb_farel = 55
umur_farel = 23

print (tinggi_farel >= tinggi_min and bb_farel > bb_min and umur_farel <= umur_max )

False